<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target='SYSTEM_OUT'>
            <PatternLayout pattern="%d %p [%c] -%m%n " />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.great.dao" level="trace"  additivity='false'>
            <AppenderRef ref="STDOUT" />
        </Logger>
    </Loggers>
</Configuration>
