<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.great.dao.CarMapper">
  <resultMap id="BaseResultMap" type="com.great.bean.Car">
    <id column="CAR_ID" jdbcType="DECIMAL" property="carId" />
    <result column="CAR_NUM" jdbcType="VARCHAR" property="carNum" />
    <result column="CAR_STATE" jdbcType="DECIMAL" property="carState" />
    <result column="CAR_DATE" jdbcType="TIMESTAMP" property="carDate" />
    <result column="SCHOOL_ID" jdbcType="DECIMAL" property="schoolId" />
    <result column="COACH_ID" jdbcType="DECIMAL" property="coachId" />
  </resultMap>
</mapper>