<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.great.dao.CoachMapper">
  <resultMap id="BaseResultMap" type="com.great.bean.Coach">
    <result column="COACH_ID" jdbcType="DECIMAL" property="coachId" />
    <result column="COACH_ACCOUNT" jdbcType="VARCHAR" property="coachAccount" />
    <result column="COACH_PWD" jdbcType="VARCHAR" property="coachPwd" />
    <result column="COACH_NAME" jdbcType="VARCHAR" property="coachName" />
    <result column="SCHOOL_ID" jdbcType="DECIMAL" property="schoolId" />
    <result column="COACH_STATE" jdbcType="DECIMAL" property="coachState" />
    <result column="COACH_DATE" jdbcType="TIMESTAMP" property="coachDate" />
    <result column="COACH_CARD" jdbcType="VARCHAR" property="coachCard" />
    <result column="COACH_PHONE" jdbcType="VARCHAR" property="coachPhone" />
    <result column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
  </resultMap>
  <select id="login" parameterType="com.great.bean.Coach" resultMap="BaseResultMap">
  	select COACH_ID,COACH_ACCOUNT,COACH_NAME,SCHOOL_ID,COACH_STATE,COACH_DATE,COACH_CARD
  	COACH_PHONE,ROLE_ID from t_coach where COACH_ACCOUNT = #{coachAccount} and 
  	COACH_PWD = #{coachPwd} and COACH_STATE != 99
  </select>
  <select id="queryAll" resultType="map">
  	select COACH_ID,COACH_ACCOUNT,COACH_NAME,SCHOOL_NAME,p.PARAMETER_NAME,COACH_CARD,
  	COACH_PHONE from t_coach c,t_school s,t_parameter p where c.COACH_STATE != 99 and 
  	c.COACH_STATE = p.PARAMETER_ID and c.SCHOOL_ID = s.SCHOOL_ID 
  </select>
</mapper>